<h1>非梧不栖</h1>
<!-- <nav>
	<a href="/home">
		<span>首页</span>
		<span class="en">Home</span>
	</a>
	<a href="">
		<span>关于技术</span>
		<span class="en">About Tec</span>
	</a>
	<a href="">
		<span>关于生活</span>
		<span class="en">About Life</span>
	</a>
	<a href="/">
		<span>关于我</span>
		<span class="en">About Me</span>
	</a>
	<a href="/uncatelogued">
		<span>未分类</span>
		<span class="en">Uncatelogued</span>
	</a>
	<a href="/draft">
		<span>草稿箱</span>
		<span class="en">Draft</span>
	</a>
	<a href="">
		<span>留言</span>
		<span class="en">Leave a Msg</span>
	</a>
</nav> -->
<nav>
	<a href="/home">
		<span>HomePage</span>
		<span class="en">HomePage</span>
	</a>
	<a href="/uncatelogued">
		<span>All</span>
		<span class="en">All</span>
	</a>
	<a href="/message">
		<span>Leave a Msg</span>
		<span class="en">Leave a Msg</span>
	</a>
</nav>