body{
	background-color: #c9edf3;
	color: #fff;
}
h1{
	padding-left: 10px;
}
hr{
        border: 1px solid #fff;;
}
a{
	cursor: pointer;
	color: rgba(75, 159, 60, 0.84);
	list-style-type: none;
	text-decoration: none;
}
nav>a{
	font-size: 1.1em;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: #fff;
}
nav>a span{
	display: block;
}
nav>a span:last-child{
	transition: transform 0.7s, opacity 0.7s;
	transform: translateY(-100%);
	opacity: 0;
}
nav>a:hover span:last-child{
	opacity: 1;
	transform: translateY(0%);
}
article{
	color: #000;
}

footer{
	text-align: right;
}

input{
    margin: 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
blockquote{
    border: 1px solid #6faab4;
    padding: 10px;
    border-radius: 5px;
    background: #d1e4eb;
}
#main_content{
	max-width: 1000px;
    margin: auto;
}
#content_outer {
    width: 96%;
    min-height: 300px;
    margin: 2% auto;
    overflow: hidden; /*这一句用来控制margin塌陷问题（父元素没有高度，子元素设置margin）*/
    box-shadow: 0px 0px 0px 20px rgba(215, 249, 255, 0.41), 
                0px 0px 100px 0px rgba(22, 115, 132, 0.65);
}

#content_outer>* {
    margin: 2%;
}
.bg-white{
    width: 90%;
    background-color: #fff;
    border-radius: 8px;
    min-height: 300px;
    color: #000;
    overflow: hidden;
}
.bg-white h3{
    margin: 3%;
    color: #54ab8f;
}
.commont{
    color: #555;
}
.commont>*{
    margin: 0 3% 3% 3%;
}
.commont textarea{
    width: 94%;
    border-color: #9ccec7;
    border-radius: 8px;
    min-height: 80px;
    outline: none;
}
/*#content_outer, #content_outer>article, #content_outer>section{	
    width: 100%;
    min-height: 300px;
    box-shadow: 0px 0px 30px 0px rgba(127, 150, 154, 0.25);
}*/
/*#content_outer{
    background-color: rgba(255, 255, 255, 0.07);    
    overflow: hidden;
}*/
/*#content_outer>article, #content_outer>section{
    background-color: rgba(255, 255, 255, 0.17);
    margin: 20px auto;   
}
#content_outer>article>*{
	display: block;
	padding: 2%;
    width: 90%;
    margin: auto;
}
#content_outer>article>h3{
    border-bottom: 1px solid rgb(255, 255, 255);
}
#content_outer>article>p{
	text-indent: 4%;
}*/

/*正常子元素*/
.nm_sub{
	width: 87.6%;
    margin: 15px 5%;
    padding: 1%;
}
/*中等宽度*/
.wm{
	width: 60%;
}
/*小宽*/
.ws{
    width: 20%;
}
/*display为block的元素*/
.db{
	display: block;
}
.btn{
    display: inline-block;
    width: 10%;
    text-align: center;
    margin: 5px 20px;
    border: 1px solid #CCC;
    background: #fff;
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
}
.btn-cancel{
	background: #CCC;
    color: white;
}
.ul_list p{
    color: #999;
    margin: 0.4% 0 0.1% 0;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.8rem;
}
.ul_list li{
    margin-bottom: 1%;
}
.color-gray{
    border-color: #ebebeb;
    margin: 2%;
}
.border-no-bottom{
    border: 1px solid #9ccec7;
    width: 18%; 
    display: inline-block;
    padding: 3px;
    text-align: center;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.after-border-no-bottom{
    border: none;
    border-bottom: 1px solid #9ccec7;
    width: 82%;
    float: right;
    display: inline;
    vertical-align: baseline;
    position: absolute;
    top: 70%;
}
.comment{
    border-bottom: 1px dashed #d3d3d3;
}
.comment a{
    text-decoration: underline;
}
.comment h4{
    margin-bottom: 0;
}
.comment div[class^='comment-content']{
    margin: 2%;
}
.comment .comment-footer{
    font-size: 0.8rem;
    text-align: right;
    margin-bottom: 5px;
}

@media screen and (max-width: 414px) {
    .btn{
        width: 25%;
    }
    .border-no-bottom{
        width: 49%; 
    }
    .after-border-no-bottom{
        width: 50%; 
    }
}